@import "default.css";
#note {
    box-shadow: 0 1px 3px;
    background-image: url("../files/images/note.png");
    background-color: yellow;
    margin: 40px auto;
    max-width: 500px;
    padding: 25px;
    border-radius: 6px;
    min-height: 125px;
    font-weight: bold;
    line-height: 25px;
}

#note * {
    margin: 0 !important;
    line-height: 25px;
}

.book-thumbnail {
  max-width: 30%;
}

.book-info{
  display: flex;
  margin-bottom: 20px;
}

.book-info img {
  max-width: 100%
}

.book-body img {
  max-width: 100%;
}

#notes h3:only-child {
    display: none;
}

.book-thumbnail {
  float: left;
  margin-right: 20px;
}

.book-detail h1 {
  text-align: left;
}
