* {
    -moz-box-sizgin: border-box;
    box-sizing: border-box
}

section {
    margin-bottom: 2rem;
}

body {
    font-family: 'PT Serif',serif;
    font-size: large;
    font-weight: 300
}

a {
    text-decoration: none;
    border-bottom: 3px solid #FFCD00;
    color: black;
}

a.bigLink {
  visibility: hidden;
}

input.bigLink {
    color: #fff;
    background-color: #FFCD00;
    text-align: center;
    margin: auto;
    font-size: xx-large;
    min-width:  400px;
}

h3 {
    font-weight: bold;
}

h1, h2 {
  text-align:  center
}

a:hover {
    text-decoration: none;
}

.main-content {
    color: gray;
}

a:active,
a:focus,
a:hover {
    color: lightslategray
}

*::-moz-selection {
    background: #FFCD00
}

::selection {
    background: #FFCD00
}

div#wrapper {
    max-width: 700px;
    align-items: center;
    margin: auto;
    height: auto
}

div#footer {
    font-size: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
    height: auto
}

#header {
    display: flex;
    padding: 10px;
    overflow: visible;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 60px;
    box-shadow: 0 1px 3px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

#headerWrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.4em 1em
}

#navigation {
    display: inline-block;
}

.nav-box {
    width: 33%;
    align-self: center;
}

.nav-box a {
    border-bottom: none;
}

.nav-box.nav-box-l {}

.nav-box.nav-box-c {
    text-align: center;
}

.nav-box.nav-box-r {
    text-align: right;
}

.contact-link {
    color: #797979;
    padding: .5rem;
    font-size: .8rem;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 98vh
}

div#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

div#header li {
    float: left
}

div#header a#name {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

div#header h3#title {
    color: darkred;
    text-decoration: none;
    font-size: 34px
}

div#header div#navigation a {
    float: left;
    padding: 0.7em;
    text-decoration: none;
    color: black;
    border-bottom: none;
}

div#header div#navigation li {
    border-bottom: 3px solid white;
}

div#header div#navigation li:hover {
    /*border-bottom: 3px solid gray;*/
    transition: border-bottom 1s, border-color 2s, color 2s;
}

div#header div#navigation a:hover {
    color: lightslategray;
}

div#header div#navigation li:first-child:hover {
    border-color: orange;
}

div#header div#navigation li:nth-child(2):hover {
    border-color: limegreen;
}

div#header div#navigation li:nth-child(3):hover {
    border-color: blue;
}

div#header div#navigation li:nth-child(4):hover {
    border-color: orange;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #FFCD00;
    font-weight: bold;
}

blockquote a {
    color: #777;
}

img.sh-picture {
  max-width: 100%;
  width: 500px;
  height: auto;
}
