div.post-snippet {
    margin: 60px 0;
    padding: 10px 0;
    opacity: .5;
    min-height: 150px;
}

.post-rating {
    display: inline-block;
    font-size: 1rem;
    width: 33%;
    text-align: right;
}

.posts-wrapper.books .post-title a {
    width: 77%;
}

.posts-wrapper.books .post-rating i {
    color: purple;
    color: blue;
}

.posts-wrapper.blog .post-snippet {
    border-bottom: 3px solid orange;
}

.posts-wrapper.books .post-snippet {
    border-bottom: 3px solid purple;
    border-bottom: 3px solid blue;
}

div.post-snippet:hover {
    transition: opacity 1s;
    opacity: 1;
    cursor: pointer;
}

div.post-title a {
    border: none;
    font-weight: bold;
}

div.post-title a:hover {
    color: black;
}

div.post-title {
    font-size: 30px;
    display: flex;
    align-items: center;
}

div.post-metadata {
    font-size: 14px;
    display: flow-root;
}

a.post-thumbnail {
    text-decoration: none;
    margin-right: 20px;
    border-bottom: none;
}

a.post-thumbnail img {
    max-height: 120px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

.blurb {
    font-size: large;
}