@import "default.css";
div.post {
    margin: auto;
    max-width: 700px;
    margin-top: 10px
}

div.post a {
    font-weight: bold
}

div.post a:hover,
a:active,
a:focus {
    color: #FFCD00;
    text-decoration: none
}

div#post-bar a:hover,
a:active,
a:focus {
    color: darkred;
    text-decoration: none
}

img {
    align-self: center;
    height: 400px;
    width: 700px;
    max-width: 100%;
}

div.post-title {
    text-align: center;
}

div.post-subtitle {
    text-align: center;
    font-size: smaller;
}

div.post b,strong {
  font-weight: bold
}
