<div class="posts-wrapper blog">
    $for(posts)$
    <div class="post-snippet">
        <div class="post-title">
          $if(subtitle)$
            <a href="$url$">$title$: $subtitle$</a>
          $else$
            <a href="$url$">$title$</a>
            $endif$
        </div>
        <div class="post-metadata">
            <time class="post-date" datetime="$published$"> $date$ </time>
        </div>
    </div>
    $endfor$
</div>
