<div id="book">
  <div class="book-info">
    $if(thumbnail)$
    <div class="book-thumbnail">
      <img src="$thumbnail$" alt="$title$">
    </div>
    <div class="book-detail">
      $endif$
      $if(author)$
      <h1>$title$ By $author$</h1>
      $else$
      <h1>$title$ </h1>
      $endif$
      $if(rating)$
      <div>Rating: $rating$ </div>
      $endif$
    </div>
  </div>
  <div class="book-body">
  $body$
  </div>
  <div id="notes">
    <h3>Notes and Highlights</h3>
    $for(notes)$
    <div id="note">
      $body$
    </div>
    $endfor$
  </div>
  <hr>
</div>
