<div class="posts-wrapper books">
    <p>
        What follows is a non-exhaustive list of books that I've read. I try to keep this list fairly updated.
    </p>

    </p>
    Each book contains a some comments and summary of what I liked/learned from the book. As of recently I've also started to include highlights and notes I take while I read. I am experimenting with a digital version of the Notecard system (introduced to
    me by <a href="https://medium.com/@RyanHoliday/this-unique-notecard-system-will-help-you-remember-organize-and-utilize-everything-you-read-9f3ddabaa3c">Ryan
                                Holiday</a>). Many things might not make sense to you. This is mostly a "brain-dump".
    </p>

    $for(books)$ $if(author)$
    <div class="post-snippet">
        $if(thumbnail)$
        <a class="post-thumbnail" href="$url$">
            <img src="$thumbnail$" alt="$title$">
        </a>
        $endif$
        <div class="post-title">
            <a href="$url$">$title$</a> $if(rating)$
            <div class="post-rating">$rating$ <i class="fas fa-star"></i></div>$endif$
        </div>
        <div class="post-metadata">
            <h4>By $author$</h4>
            $if(started)$ $if(ended)$
            <div class="post-date">Read: $started$ - $ended$</div> $endif$$endif$ $if(blurb)$
            <div class="blurb"> $blurb$</div> $endif$
        </div>
    </div>
    $endif$ $endfor$
</div>
