<div id="nows-content" class="main-content">
    Here are old versions of my now-page:
    <ul>
        $for(posts)$
        <li>
            <a href="$url$">$title$</a>
        </li>
        $endfor$
    </ul>
</div>