<div class="post">
    <div class="post-title">
        <h1>$title$</h1>
        $if(subtitle)$
        <h2>$subtitle$</h2>
        $endif$
    </div>
    <div class="post-date" align="right"> $date$ </div>
    <hr> $body$
    <div class="post-bar" align="right">
        <a href="/index.html">Back</a>
    </div>
    <hr>
</div>
